.footer{
    width: 102%;
    margin-left: -8px;
    
    justify-content: center;
    place-items: center;
    height: 400px;
    background-color: #212731;
   
}
.footer-list1 ul{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}
.footer-list1 b{
    font-size: 20px;
    font-weight: 400;
}
.footer-list1 li{
    list-style: none;
    font-size: 17px;
    font-weight: 200;
    line-height: 20px;
    padding-top: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .footer-list2 ul{
        /* position: absolute; */
        padding-top: 100px;
        margin-left: 600px;
    }
    .footer-list2 b{
        font-size: 20px;
        font-weight: 400;
    }
    .footer-list2 li{
        list-style: none;
        font-size: 17px;
        font-weight: 200;
        line-height: 20px;
        padding-top: 10px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .footer h4{
        float: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-weight: 400;
        font-size: 18px;
        margin-right: 350px;
        margin-top: -150px;
    }
    @media(width<1200px){
        .footer h4{
            display: none;
        }
    }
    @media(width<848px){
        .footer-list1{
            margin-left: -200px;
        }
        .footer-list2{
            margin-left: -300px;
        }
    }