body{
    overflow-x: hidden;
    background-color: #FBFCFD;
}
.nav{
    width: 102%;
    margin-left: -8px;
    margin-top: -16px;
    background-color: #212731;
    color: #D1D6DA;
    display: flex;
    justify-content: center;
}
.nav ul{
    display: flex;
    float: left;
    margin-left: 00px;
   
  
}
.nav li{
    margin-left: 80px;
    list-style: none;
    margin-top: 10px;
}
.nav h4{
    position: absolute;
    margin-left: -700px;
    color: black;
    margin-top: 23px;
    font-size: 25px;
}
.nav input{
    width: 300px;
    height: 25px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 8px;
    border: none;
    transition: all 0.4s ease;
}
::placeholder{
    font-size: small;
    padding-left: 50px;
}
@media(width<963px){
    .nav input{
        width: 300px;
        height: 25px;
        margin-top: 20px;
        margin-left: 00px;
        border-radius: 10px;
    }
    .nav h4{
        position: absolute;
        margin-left: -800px;
        color: black;
        margin-top: 23px;
        font-size: 25px;
    }
}
@media(width<848px){
    .nav input{
        display: none;
    }
    .nav ul{
        margin-left: -120px;
    }
}